resources/dgtServiceWSDL.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eu.europa.ec.dgt.epoetry" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://eu.europa.ec.dgt.epoetry" name="DGTServiceWS">
    <wsp:UsingPolicy wssutil:Required="true"/>
    <wsp1_2:Policy wssutil:Id="Mtom.xml">
        <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
    </wsp1_2:Policy>
    <wsp:Policy wssutil:Id="DGTServiceWSPortBinding_MTOM_Policy-DGTServiceWSPortBinding_MTOM_Policy">
        <ns2:OptimizedMimeSerialization xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    </wsp:Policy>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://eu.europa.ec.dgt.epoetry" schemaLocation="dgtServiceXSD.xml"/>
        </xsd:schema>
    </types>
    <message name="findLinguisticRequest">
        <part name="parameters" element="tns:findLinguisticRequest"/>
    </message>
    <message name="findLinguisticRequestResponse">
        <part name="parameters" element="tns:findLinguisticRequestResponse"/>
    </message>
    <message name="RequestNotFoundException">
        <part name="fault" element="tns:RequestNotFoundException"/>
    </message>
    <message name="InternalTechnicalErrorException">
        <part name="fault" element="tns:InternalTechnicalErrorException"/>
    </message>
    <message name="PermissionDeniedException">
        <part name="fault" element="tns:PermissionDeniedException"/>
    </message>
    <message name="modifyRequest">
        <part name="parameters" element="tns:modifyRequest"/>
    </message>
    <message name="modifyRequestResponse">
        <part name="parameters" element="tns:modifyRequestResponse"/>
    </message>
    <message name="MissingOrInvalidParameterException">
        <part name="fault" element="tns:MissingOrInvalidParameterException"/>
    </message>
    <message name="TemplateNotFoundException">
        <part name="fault" element="tns:TemplateNotFoundException"/>
    </message>
    <message name="correctTranslation">
        <part name="parameters" element="tns:correctTranslation"/>
    </message>
    <message name="correctTranslationResponse">
        <part name="parameters" element="tns:correctTranslationResponse"/>
    </message>
    <message name="ProductNotFoundException">
        <part name="fault" element="tns:ProductNotFoundException"/>
    </message>
    <message name="receiveNotifications">
        <part name="parameters" element="tns:receiveNotifications"/>
    </message>
    <message name="receiveNotificationsResponse">
        <part name="parameters" element="tns:receiveNotificationsResponse"/>
    </message>
    <message name="getLinguisticRequest">
        <part name="parameters" element="tns:getLinguisticRequest"/>
    </message>
    <message name="getLinguisticRequestResponse">
        <part name="parameters" element="tns:getLinguisticRequestResponse"/>
    </message>
    <message name="createRequests">
        <part name="parameters" element="tns:createRequests"/>
    </message>
    <message name="createRequestsResponse">
        <part name="parameters" element="tns:createRequestsResponse"/>
    </message>
    <message name="ContactNotFoundException">
        <part name="fault" element="tns:ContactNotFoundException"/>
    </message>
    <portType name="DGTServiceWS">
        <operation name="findLinguisticRequest">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/findLinguisticRequestRequest" message="tns:findLinguisticRequest"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/findLinguisticRequestResponse" message="tns:findLinguisticRequestResponse"/>
            <fault message="tns:RequestNotFoundException" name="RequestNotFoundException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/findLinguisticRequest/Fault/RequestNotFoundException"/>
            <fault message="tns:InternalTechnicalErrorException" name="InternalTechnicalErrorException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/findLinguisticRequest/Fault/InternalTechnicalErrorException"/>
            <fault message="tns:PermissionDeniedException" name="PermissionDeniedException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/findLinguisticRequest/Fault/PermissionDeniedException"/>
        </operation>
        <operation name="modifyRequest">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/modifyRequestRequest" message="tns:modifyRequest"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/modifyRequestResponse" message="tns:modifyRequestResponse"/>
            <fault message="tns:RequestNotFoundException" name="RequestNotFoundException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/modifyRequest/Fault/RequestNotFoundException"/>
            <fault message="tns:MissingOrInvalidParameterException" name="MissingOrInvalidParameterException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/modifyRequest/Fault/MissingOrInvalidParameterException"/>
            <fault message="tns:InternalTechnicalErrorException" name="InternalTechnicalErrorException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/modifyRequest/Fault/InternalTechnicalErrorException"/>
            <fault message="tns:PermissionDeniedException" name="PermissionDeniedException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/modifyRequest/Fault/PermissionDeniedException"/>
            <fault message="tns:TemplateNotFoundException" name="TemplateNotFoundException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/modifyRequest/Fault/TemplateNotFoundException"/>
        </operation>
        <operation name="correctTranslation">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/correctTranslationRequest" message="tns:correctTranslation"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/correctTranslationResponse" message="tns:correctTranslationResponse"/>
            <fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/correctTranslation/Fault/ProductNotFoundException"/>
            <fault message="tns:InternalTechnicalErrorException" name="InternalTechnicalErrorException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/correctTranslation/Fault/InternalTechnicalErrorException"/>
            <fault message="tns:PermissionDeniedException" name="PermissionDeniedException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/correctTranslation/Fault/PermissionDeniedException"/>
        </operation>
        <operation name="receiveNotifications">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/receiveNotificationsRequest" message="tns:receiveNotifications"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/receiveNotificationsResponse" message="tns:receiveNotificationsResponse"/>
            <fault message="tns:InternalTechnicalErrorException" name="InternalTechnicalErrorException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/receiveNotifications/Fault/InternalTechnicalErrorException"/>
        </operation>
        <operation name="getLinguisticRequest">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/getLinguisticRequestRequest" message="tns:getLinguisticRequest"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/getLinguisticRequestResponse" message="tns:getLinguisticRequestResponse"/>
            <fault message="tns:RequestNotFoundException" name="RequestNotFoundException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/getLinguisticRequest/Fault/RequestNotFoundException"/>
            <fault message="tns:InternalTechnicalErrorException" name="InternalTechnicalErrorException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/getLinguisticRequest/Fault/InternalTechnicalErrorException"/>
            <fault message="tns:PermissionDeniedException" name="PermissionDeniedException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/getLinguisticRequest/Fault/PermissionDeniedException"/>
        </operation>
        <operation name="createRequests">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createRequestsRequest" message="tns:createRequests"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createRequestsResponse" message="tns:createRequestsResponse"/>
            <fault message="tns:MissingOrInvalidParameterException" name="MissingOrInvalidParameterException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createRequests/Fault/MissingOrInvalidParameterException"/>
            <fault message="tns:InternalTechnicalErrorException" name="InternalTechnicalErrorException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createRequests/Fault/InternalTechnicalErrorException"/>
            <fault message="tns:TemplateNotFoundException" name="TemplateNotFoundException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createRequests/Fault/TemplateNotFoundException"/>
            <fault message="tns:ContactNotFoundException" name="ContactNotFoundException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createRequests/Fault/ContactNotFoundException"/>
            <fault message="tns:PermissionDeniedException" name="PermissionDeniedException" wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createRequests/Fault/PermissionDeniedException"/>
        </operation>
    </portType>
    <binding name="DGTServiceWSPortBinding" type="tns:DGTServiceWS">
        <wsp:PolicyReference URI="#DGTServiceWSPortBinding_MTOM_Policy-DGTServiceWSPortBinding_MTOM_Policy"/>
        <wsp:PolicyReference URI="#Mtom.xml"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="findLinguisticRequest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RequestNotFoundException">
                <soap:fault name="RequestNotFoundException" use="literal"/>
            </fault>
            <fault name="InternalTechnicalErrorException">
                <soap:fault name="InternalTechnicalErrorException" use="literal"/>
            </fault>
            <fault name="PermissionDeniedException">
                <soap:fault name="PermissionDeniedException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyRequest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RequestNotFoundException">
                <soap:fault name="RequestNotFoundException" use="literal"/>
            </fault>
            <fault name="MissingOrInvalidParameterException">
                <soap:fault name="MissingOrInvalidParameterException" use="literal"/>
            </fault>
            <fault name="InternalTechnicalErrorException">
                <soap:fault name="InternalTechnicalErrorException" use="literal"/>
            </fault>
            <fault name="PermissionDeniedException">
                <soap:fault name="PermissionDeniedException" use="literal"/>
            </fault>
            <fault name="TemplateNotFoundException">
                <soap:fault name="TemplateNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="correctTranslation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProductNotFoundException">
                <soap:fault name="ProductNotFoundException" use="literal"/>
            </fault>
            <fault name="InternalTechnicalErrorException">
                <soap:fault name="InternalTechnicalErrorException" use="literal"/>
            </fault>
            <fault name="PermissionDeniedException">
                <soap:fault name="PermissionDeniedException" use="literal"/>
            </fault>
        </operation>
        <operation name="receiveNotifications">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InternalTechnicalErrorException">
                <soap:fault name="InternalTechnicalErrorException" use="literal"/>
            </fault>
        </operation>
        <operation name="getLinguisticRequest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RequestNotFoundException">
                <soap:fault name="RequestNotFoundException" use="literal"/>
            </fault>
            <fault name="InternalTechnicalErrorException">
                <soap:fault name="InternalTechnicalErrorException" use="literal"/>
            </fault>
            <fault name="PermissionDeniedException">
                <soap:fault name="PermissionDeniedException" use="literal"/>
            </fault>
        </operation>
        <operation name="createRequests">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MissingOrInvalidParameterException">
                <soap:fault name="MissingOrInvalidParameterException" use="literal"/>
            </fault>
            <fault name="InternalTechnicalErrorException">
                <soap:fault name="InternalTechnicalErrorException" use="literal"/>
            </fault>
            <fault name="TemplateNotFoundException">
                <soap:fault name="TemplateNotFoundException" use="literal"/>
            </fault>
            <fault name="ContactNotFoundException">
                <soap:fault name="ContactNotFoundException" use="literal"/>
            </fault>
            <fault name="PermissionDeniedException">
                <soap:fault name="PermissionDeniedException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="DGTServiceWS">
        <port name="DGTServiceWSPort" binding="tns:DGTServiceWSPortBinding">
            <soap:address location="https://www.test.cc.cec/dgt/epoetry/webservices/dgtService"/>
        </port>
    </service>
</definitions>
