resources/NotificationService_xsd.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://eu.europa.ec.dgt.epoetry"
            targetNamespace="http://eu.europa.ec.dgt.epoetry">
    <xsd:complexType name="receiveNotification">
        <xsd:sequence>
            <xsd:element name="notification" type="ns0:dgtNotification" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="productRequest">
        <xsd:sequence>
            <xsd:element name="language" type="ns0:language" minOccurs="0"/>
            <xsd:element name="acceptedDeadline" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="internalProductReference" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="requestReference">
        <xsd:sequence/>
        <xsd:attribute name="requesterCode" type="xsd:string"/>
        <xsd:attribute name="year" type="xsd:int" use="required"/>
        <xsd:attribute name="number" type="xsd:int" use="required"/>
        <xsd:attribute name="part" type="xsd:int" use="required"/>
        <xsd:attribute name="version" type="xsd:int" use="required"/>
        <xsd:attribute name="productType" type="xsd:string"/>
        <xsd:attribute name="id" type="xsd:long" use="required"/>
        <xsd:attribute name="internalReference" type="xsd:string"/>
        <xsd:attribute name="internalTechnicalId" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="productReference">
        <xsd:sequence>
            <xsd:element name="parentRequest" type="ns0:requestReference" minOccurs="0"/>
            <xsd:element name="targetLanguage" type="ns0:language" minOccurs="0"/>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="internalProductReference" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DGTNotificationException">
        <xsd:sequence>
            <xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="errorDescription" type="xsd:string" minOccurs="0"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="dgtNotification">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="notificationType" type="ns0:notificationType" minOccurs="0"/>
            <xsd:element name="request" type="ns0:requestReference" minOccurs="0"/>
            <xsd:element name="product" type="ns0:productReference" minOccurs="0"/>
            <xsd:element name="productFormat" type="xsd:string" minOccurs="0"/>
            <xsd:element name="newStatus" type="ns0:requestOrProductStatus" minOccurs="0"/>
            <xsd:element name="statusMessage" type="xsd:string" minOccurs="0"/>
            <xsd:element name="newDeadline" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="productFile" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="productRequests" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="productRequest" type="ns0:productRequest" minOccurs="0"
                                     maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="language">
        <xsd:sequence/>
        <xsd:attribute name="code" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="receiveNotificationResponse"/>
    <xsd:element name="receiveNotification" type="ns0:receiveNotification"/>
    <xsd:element name="DGTNotificationException" type="ns0:DGTNotificationException"/>
    <xsd:element name="receiveNotificationResponse" type="ns0:receiveNotificationResponse"/>
    <xsd:simpleType name="requestOrProductStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="REF"/>
            <xsd:enumeration value="ONG"/>
            <xsd:enumeration value="SUS"/>
            <xsd:enumeration value="CNL"/>
            <xsd:enumeration value="EXE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="notificationType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RequestStatusChange"/>
            <xsd:enumeration value="ProductStatusChange"/>
            <xsd:enumeration value="ProductDeadlineChange"/>
            <xsd:enumeration value="ProductDelivery"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>